  .action .add-pho{
    text-decoration: none;
    color: white;
  }
  /* icon user */
  .van{
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 60px;
    font-size: 21px;
    position: relative;
    top: 0;
    left: 0;
  }
  .van .inside-a{
    position: absolute;
    top: 4px;
    left: 2.5px;
    color:#3C5A9A ;
  }
  /* icon heart */
  .heart {
    color: grey;
    opacity: .3; 
  }
  
  .fa-heart {
   
    color:#3C5A9A ; 
  }
  
  
  .body-photo-dis a{
    text-decoration: none;
  }
  body{
    background-color:#F8F8F8;
  }
 .fa-bars{  
    color:white;
  }
  .fa-bars.content-left{
    color:#3C5A9A;
  }
  i.fa-user{
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
    background-color: white;
  } 
  .card-title a{
    text-decoration: none;
  }
  .nav-link .circle-user{
    color:#3C5A9A;
  }

  .card-body .card-text{
    display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden
  }


  .content-block-photo{
    width: 950px;
    background-color:#FFFFFF;
    margin: 35px 0px 100px 250px ;
  } 
  .content-block-album{
    width: 950px;
    background-color:#FFFFFF;
    margin: 35px 0px 100px 150px;
  } 
   .card-img{
    width: 200px;
    height: 230px;
  }

  .card-body.body-photo{
    margin-top:-7px;
    margin-left: 50px;
  }
  .card-body.body-album{
    margin-top:5px;
    margin-left: 60px;
  }
  .float-content{
    position: relative;
    top: 0;
    left: 0;
    bottom:0;
    right:0;
    }
  .float-left-photo{
    position: absolute;
    left: -10px;
    bottom:-30px;
    color: #36599C;
  }
  .float-right-photo{
    position: absolute;
    right: -10px;
    bottom:-35px;
  }
  .float-left-album{
    position: absolute;
    left: 1px;
    bottom:-15px;
    color: #36599C;
  }
  .float-right-album{
    position: absolute;
    right: -10px;
    bottom:-20px;
  }
  
  .card.mb-3{
    margin: 5px 5px -1px 0px;
    background-color: #F8F8F8;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    border: none;
  }

  .btn-follow{
    position: relative;
    top: 0;
    right: 0;
  }
  .btn-follow .follow{
    position: absolute;
    top:5px;
    right: -15px;
    width: 80px;
    height: 25px;
    font-size: 12px;
    border: 2px solid #ffb900;
    border-radius: 20px 20px 20px 20px;
    /* background-image: linear-gradient(to right,#ffb900,#ff7730),url(../Img/involve1.jpg); */
  }
  .btn-follow .follow:hover{
    background-image: linear-gradient(to right,#ffb900,#ff7730),url(../Img/involve1.jpg);
    border-color:#ffb900 ;
  }
  .follow .leave:hover{
    color: white;
  }
  .follow .leave{
    position: absolute;
    top:-1px;
    right: 10px;
    font-size: 16px;
    font-weight:950px;
    letter-spacing: 2px;
    color: red;
  }

  .body-album .circle-userr{
    background-color:#3C5A9A;
  }
  .body-album .circle-userr{
    color:white;
  }
  .body-album a{
    color:#3C5A9A;
  }
  .body-photo .circle-userr{
    background-color:#3C5A9A;
  }
  .body-photo .circle-userr{
    color:white;
  }
  .body-photo a{
    color:#3C5A9A;
  }

  .btn-left{
    background-color:#3C5A9A;
    color: white;
    font-weight: 800;
    border-radius: 2px 0px 0px 2px;
    border: 1px solid #3C5A9A;
  }
  .btn-right{
    background-color: white;
    color:#3C5A9A;
    font-weight: 800;
    border-radius: 0px 2px 2px 0px;
    border: 1px solid #3C5A9A;
  }
  .btn-left:hover{
    color:white;
  }
  .btn-right:hover{
    color: #3C5A9A;
  }
  .btn-total{
    margin-top:15px;
    margin-bottom: 15px;
  }

 

/* Second-content */
#mySidenav a {
  position: fixed;
  left: -90px;
  transition: 0.3s;
  padding: 9px 0px 5px 1px;
  width: 120px;
  height: 50px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 1px 50px 50px 1px;
}

#mySidenav a:hover {
  left: 0;
}

#about {
  top: 70px;
  background-color: #3C5A9A; 
}

#blog {
  top: 120px;
  background-color: #3C5A9A;
 
}


/* Modal */
.taless {
  width: 100%;
}
.carousel-inner.album{
  width:470px;
  max-height: 350px !important;
}
.photo .active img{
  width: 470px;
  height: 350px;
}
.modal-photo .active img{
  width: 470px;
  height: 350px;
}

/* Album */
.cover-img .card-img{
  width: 200px;
  height: 200px;
}

.cover-img{
  position: relative;
  border-radius: .2rem;
 
}
.cover-img .photo1{
  position: absolute;
  z-index: 10;
  left: 0;
  top:10px;
  margin-left: 15px;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.cover-img .photo2{
  position: absolute;
  left:0;
  top:10px;
  transform: rotate(3deg);
  margin-left: 15px;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.cover-img .photo3{
  position: absolute;
  left: 0;
  top:10px;
  margin-left: 15px;
  transform: rotate(6deg);
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
a .btn-photo:active{
  background-color: #FFFFFF;
  color:white;
}
/* photo */
a .btn-album:active{
    background-color: #FFFFFF;
    color:white;
}


/* @media (max-width: 380px) { 
  .navbar {
     width: 550px; 
  }
 } */

 @media (max-width: 575px) { 
  .navbar {
     width: 550px; 
  }
  .content-block{
    max-width: 550px;
  } 
  .second-content ul{
   line-height: 1.5;
   position: absolute;
   top:50px;
   left: -25px;
  }
 }
@media(max-width:415px){
  .second-content ul{
    margin-top: 50px;
    line-height:1.5 ;
  }
  .card-body .card-text{
    display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden
  }
  .float-left-photo{
    left: 1px;
    bottom:-12px !important;
  }
  .float-right-photo{
    position: absolute;
    right: -10px;
    bottom:-12px !important;
  }
  .float-content .float-right-photo{
    margin-bottom: 1px;
    margin-right: 10px;
  }
  .float-content .float-right-photo .text-muted{
    font-size: 15px;
}
.content-block-photo{
  width: 500px;
  margin-left: 25px !important;
} 
.card.mb-3{
  width: 450px !important;
}
.card-img{
  width: 450px !important;
}
.card-img.photo1{
  width: 150px !important;
  height: 130px !important;
}
.card-img.photo2{
  width: 150px !important;
  height: 130px !important;
}
.card-img.photo3{
  width: 150px !important;
  height: 130px !important;
}
.card-body.body-album{
  margin-left:150px !important;
}
.content-block-album{
  width: 500px;
  margin-left: 20px !important;
} 
.btn-follow .follow{
  top:7px;
  right: -15px;
  width: 80px !important;
  height: 25px !important;
}
.follow .leave{
  top:-1px !important;
  left: -1px !important;
  font-size: 16px !important;
}  

.img-tab img{
  width: 350px !important;
  height: 350px !important;
}
.img-tab p{
  font-size: 30px;
}
}
@media(max-width:375px){
  .second-content ul{
    margin-top: 32px;
    line-height:1.5 ;
  }
  .float-left-photo{
    margin-bottom:-1px;
  }
  .float-right-photo{
    margin-bottom:-5px !important;
  }
  .float-content .float-right-photo{
    margin-bottom: 55px;
    margin-right: 10px;
  }
  .card.mb-3{
    width: 100px;
   }
   .btn-follow .follow{
    top:10px;
    right: -15px;
    width: 60px !important;
    height: 35px;
    font-size: 10px;
  }
  .follow .leave{
    top:-1px;
    right: 15px !important;
    font-weight: 450px;
  }
  .card-body .card-text{
    display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden
  }
}
@media(max-width:380px){
  .second-content ul{
    margin-top: 32px;
    line-height:1.5 ;
  } 
  .float-content .float-right-photo .text-muted{
    font-size: 15px;
}
.content-block-photo{
  width: 500px;
margin-right: 50px;
} 
.card.mb-3{
  width: 450px !important;
}
.card-img{
  width: 450px !important;
}
.card-img.photo1{
  width: 150px !important;
  height: 130px !important;
}
.card-img.photo2{
  width: 150px !important;
  height: 130px !important;
}
.card-img.photo3{
  width: 150px !important;
  height: 130px !important;
}
.card-body.body-album{
  margin-left:150px !important;
}
.content-block-album{
  width: 500px;
  margin-left: 20px !important;
} 
.img-tab img{
  width: 350px !important;
  height: 350px !important;
}
.img-tab p{
  font-size: 30px;
}
.btn-follow .follow{
  top:7px;
  right: -15px;
  width: 80px !important;
  height: 25px !important;
}
.follow .leave{
  top:-1px !important;
  left: -1px !important;
  font-size: 16px !important;
}   
.float-left-photo{
  left: 1px;
  bottom:-12px !important;
}
.float-right-photo{
  position: absolute;
  right: -10px;
  bottom:-12px !important;
}
.card-body .card-text{
  display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
overflow: hidden
}
}

  @media (max-width:1200px){
    .content-block-album{
      margin: 35px 0px 100px 40px;
    } 
  .content-block-photo{
    margin: 35px 0px 100px 40px;
  } 
    .card-body.body-photo{
      margin-left: 95px;
    }
    
    .card-img{
      width: 250px;
      height: 270px;
    }
   
    .content-block{
      margin-top: 83px;
    }
    .second-content ul{
      position: absolute;
      top:40px;
      left: 15px;
    }
    .float-right-photo .text-muted{
        font-size: 10px;
    }
    .float-left-photo{
      position: absolute;
      left: 1px;
      bottom:-72px;
      color: #36599C;
    }
    .float-right-photo{
      position: absolute;
      right: -10px;
      bottom:-75px;
    }
    .btn-follow .follow{
      top:7px;
      right:  -15px;
      width: 50px ;
      height: 20px;
      font-size: 10px;
    }
    .follow .leave{
      top:1px;
      right: -2px !important;
      font-size: 11px;
    }   
    
    .body-album .btn-follow .follow{
      top:7px;
      right: -15px;
      width: 80px ;
      height: 20px;
    }
    .body-album .follow .leave{
      top:-1px;
      right: 8px !important;
      font-size: 15px;
    }   

    .cover-img .card-img{
      width: 200px;
      height: 200px;
    }
    .cover-img .photo1{
      z-index: 10;
      left: 0;
      top:10px;
      margin-left: 15px;
    }
    .cover-img .photo2{
      left:0;
      top:10px;
      transform: rotate(3deg);
      margin-left: 15px;
    }
    .cover-img .photo3{
      left: 0;
      top:10px;
      margin-left: 15px;
      transform: rotate(6deg);
    }
  }

  @media (max-width:992px){
    .card-body.body-photo{
      margin-left: 75px;
    }
   
    .card-text{
      font-size: 12px;
    }
    .card-img{
      width: 190px;
      height: 250px;
    }
  }
  @media (max-width:768px) {
    .card-img{
      width: 190px;
      height: 270px;
    }
   
    .float-left-photo{
      position: absolute;
      left: -10px;
      bottom:-70px;
    }
    .float-right-photo{
      position: absolute;
      right: -20px;
      bottom:-70px;
    }
    .float-right-photo .text-muted{
      font-size: 7px;
      font-weight: 300;
  }
  .cover-img .card-img{
    width: 150px;
    height: 180px;
  }
  .card-body.body-album{
    margin-right: 2px;
  }
  .card-body.body-album .card-text{
    font-size: 9px;
  }
  .navbar-nav .nav-item .nav-link{
    margin-right: -30px !important;
  }
  .btn-follow .follow{
    top:7px;
    right:  -15px;
    width: 45px ;
    height: 10px;
  }
  .follow .leave{
    top:1px;
    right: 1px !important;
    font-size: 8px;
  }  

  .body-album .btn-follow .follow{
    top:7px;
    right:  -15px;
    width: 45px ;
    height: 10px;
  }
  .body-album .follow .leave{
    top:1px;
    right: 1px !important;
    font-size: 8px;
  } 
  
  }
  @media (min-width:768px)and(max-width:770px) {
    .card-body{
      margin-left: -1px;
    }
    .card-text{
      font-size: 15px;
    }
    .card-img{
      width: 235px;
      height: 239px;
    }

 
  }
  @media (max-width:577px){
    .card-body.body-photo{
      margin-left: 5px;
    }
    .card-text{
      font-size: 12px;
    }
    .card-img{
      width: 500px;
      height: 350px;
      
    }
    .card.mb-3{
      width: 502px;
      margin: 20px 10px 0px 10px;
    }
    .content-block{
      width: 550px;
      margin-top: 50px;
    }
  } 
  @media (min-width: 576px)
{
  .navbar-expand-sm .navbar-collapse{
    height: 40px;
  }
}